 html{
  height:100%;
  background-color: gray;
  color:black;
}

body{
  font-family: Futura;
}
.clearfix{
  clear: both;
}

#startButton{
border-bottom: 3px solid gray;
}

#wrapper{
  width: 100%;
}

h1 {
  border-bottom: 1px solid;
  margin: 40px auto;
  padding: 10px 0;
  text-align: center;
  white-space: nowrap;
  max-width: 400px;
}

.userInteraction{
  width: 32%;
  float: left;
  margin: 0 10px;
}

#userInput {
  font-size: 25px;
  text-align: center;
  border:solid 0px;
  -webkit-animation-name: greenPulse;
  -webkit-animation-duration: 2s;
  -webkit-animation-iteration-count: infinite;
}

input{
  width: 100%;
  margin:  0 auto;
}

.buttons {
  margin: 0 50px;
  text-align: center;
  font-size: 25px;   
  background-color: #ccc;
  width: 20%;
  float: left;
}

#scoreboard {
  height: 150px;
  font-size: 14px;
  margin: 0 auto;
  display: none;
  overflow: scroll-auto
}
li{
  list-style: none;
}

#randomWord {
  height: 150px;
  text-align: center;
  font-size: 25px;
}
#difficulty{
  width: 33%;
  float: left;
visibility: hidden; 
}

@-webkit-keyframes greenPulse {
 from { background-color: #ccc; -webkit-box-shadow: 0 0 9px #ccc; }
 50% { background-color: #ddd; -webkit-box-shadow: 0 0 18px #FF832A; }
 to { background-color: #ccc; -webkit-box-shadow: 0 0 9px #ccc; }
}

.ui-effects-transfer {
  border: 1px dotted white;
}